<div class="quit_confirm">
  <strong>本当に退会しますか？</strong>

    <div class="quit-msg">
      退会すると会員情報登録や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      <br>
      退会する場合は,「退会する」をクリックしてください。
    </div>

    <%= link_to "退会しない", customer_show_path, class: 'glyphicon glyphicon-home btn btn-primary' %>
    <%= link_to "退会する", customers_quit_path, data: {confirm: "本当に退会してもよろしいですか？"}, class: "glyphicon glyphicon-tint btn btn-danger" %>
</div>