<div class="row" style="">
  <div class="mx-auto col-12 col-sm-10 col-lg-8 col-xl-6">
    <h3>✔️</h3>
    <h2>退会手続きが完了しました</h2>
    <p>ご利用ありがとうございました。またのご利用をお待ちしております。</p>
    
    <%= link_to "トップページに戻る", root_path, class: "btn btn-info" %>
  </div>
</div>