<h3 class="ml-4 mb-5 page-title">本当に退会しますか？</h3>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-xs-12 messages">
        <p class="col-lg-6 offset-md-3 mb-5 text-center page-title">
          退会すると、会員登録情報や
          </br>
          これまでの購入履歴が閲覧できなくなります。
          </br>
          退会する場合は「Withdrawal」をクリックしてください。
        </p>
      </div>
    </div>
  </div>

  <div class="row text-center mb-5">
    <div class="col-lg-12 mb-2">
      <%= link_to  customer_show_path do %>
        <div class="btnripple">
          <%= image_tag 'do_not_withdraw.png', class: 'mr-5 img-fluid', size: "70x40" %>
        </div><% end %>
          <%= link_to customers_quit_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"} do %>
        <div class="btnripple">
          <%= image_tag 'withdraw.png', class: 'img-fluid', size: "100x40" %>
        </div><% end %>
    </div>
  </div>
