// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-img {
  transition: 0.2s;
  &:hover {
    transform: scale(1.1);
    z-index: 10;
  }
}

/* カルーセル高さ調整 */
.carousel-item {
  height: 400px;
}

.item-img {
  object-fit: cover;
  object-position: top center;
}

.top-title {
  writing-mode: vertical-rl;
}


// aboutページのCSS
.about-visual {
  width: 100%;
  height: 300px; 
  background-size: cover;
  background-position: center;
}

.about-image1 {
  background-image:  image-url('2.jpg');
}

.about-image2 {
  background-image:  image-url('present.jpg');
}

.about-image3 {
  background-image:  image-url('shop.jpg');
}

.about-visual-content {
  background-color: rgba(0, 0, 0, 0.5); 
}

.about-visual-text {
  color: #fff;
}
