// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-img {
  transition: 0.2s;
  &:hover {
    transform: scale(1.1);
    z-index: 10;
  }
}

/* カルーセル高さ調整 */
.carousel-item {
  height: 400px;
}

.item-img {
  object-fit: cover;
  object-position: top center;
}

.top-title {
  writing-mode: vertical-rl;
}

/* Loading背景画面設定　*/
#splash {
/*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:#333;
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 #splash_logo2 {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo, #splash_logo2 {
  width:260px;
}
 #splash_logo2{
  opacity:0;
}

/* fadeUpをするアイコンの動き */
.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.8s;
animation-fill-mode:forwards;
opacity: 1;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}


// aboutページのCSS
.about-visual {
  width: 100%;
  height: 300px; 
  background-size: cover;
  background-position: center;
}

.about-image1 {
  background-image:  image-url('2.jpg');
}

.about-image2 {
  background-image:  image-url('present.jpg');
}

.about-image3 {
  background-image:  image-url('shop.jpg');
}

.about-visual-content {
  background-color: rgba(0, 0, 0, 0.5); 
}

.about-visual-text {
  color: #fff;
}