
<div class="row">  

  <div class="col-8">
  
    <div class="row">  
      <div class="col-12 mb-2 mx-auto mt-5">
        <%= image_tag 'logo-img.png', class: 'd-block w-75  mt-5 ml-2' %>
      </div>
      
      <div class="col-8 mb-5 mt-5 mx-auto page-title" style="font-size: 10pt">
        いつもNagano CAKEをご覧いただき誠にありがとうございます。<br />
        店頭に並ぶ商品の中から選りすぐりのギフトや、<br />
        オンラインショップならではの限定商品をご紹介しています。<br />
        大切な方への贈り物に、ご自宅のご歓談のひと時に、是非ご利用ください。
      </div>
      
    </div>
  </div> 

  <div class="col-4 pr-0">
    <%= image_tag 'about1.png', class: 'd-block w-75 mb-5 float-right' %>
  </div>

</div>

<div class="row"> 
  <div class="col-8 mb-5 mt-5 mx-auto text-right">
    NaganoCake <%= image_tag 'megane-img.png', size: "40x40" %>
  </div>
</div>
  
<div class="row">
  <div class="box fadeUpTrigger about-visual about-image1 mt-5 mb-5 w-75 mx-auto">
    <div class="about-visual-content col-7 p-3 mt-5">
      <div class="about-visual-text pl-3 page-title">
        <h5>こだわり</h5>
        <p>
          昔ながらの味や製法は守りながら、<br />
          美味しさを追及し続けたオリジナルの商品が並んでいます。<br />
          定番のケーキから旬のフルーツをふんだんに使用した<br />
          季節のケーキまで種類豊富にご用意しております。
        </p>
      </div>
    </div>
  </div>
 </div>

<div class="row">
  <div class="delay-time02 box fadeUpTrigger about-visual about-image2 mb-5 mt-5 w-75 mx-auto">
    <div class="about-visual-content float-right col-7 p-3 mt-5">
      <div class="about-visual-text pl-3 page-title">
        <h5>配送について</h5>
        <p>
          全国へ発送可能です。<br />
          「いつ」でも「どこ」でもご注文いただけます。<br />
          送料は、全国一律800円です。
        </p>
      </div>
     </div>
　</div>
</div>

<div class="row">
  <div class="delay-time04 box fadeUpTrigger about-visual about-image3 mt-5 w-75 mx-auto pt-5">
    <div class="about-visual-content col-7 p-3 mx-auto">
      <div class="about-visual-text pl-3 page-title">
        <h5>NaganoCake Shop</h5>
        <p>
          Access　長野県○○市○○町1-2-3<br />
          Tel: 0120-1234-1234<br />
          maii: 0000@meganekko.com
        </p>

        <p id="page-top"><a href="#">
        </a></p>

      </div>
    </div>
  </div>
</div>

<%= image_tag 'about2.png', class: 'd-block w-25' %>