<div class="row m-4">
  <div class="col">
    <h5 class="d-inline bg-gray pr-3 pl-3 page-title">Address New / List</h5>
  </div>
</div>
<div id="address_form_new">
  <%= render 'public/addresses/form' %>
</div>