<div class="row mx-auto w-75 page-title">
  <div class="col mb-2 mt-5 text-center">
      <h2 class="border-bottom d-inline-block">Review</h2>
       <p class="reviews_count"><%= @product.reviews.count %>件</p>
  </div>
</div>

<div class="row mx-auto w-75 page-title">
  <div class="col mb-2 mt-5">

    <div id='review_form'>
      <%= render 'public/reviews/reviews', product: @product, review: @review %>
    </div>

  </div>
</div>

  