<h3 class="text-center mt-10 mb-auto page-title">
  <%= image_tag 'thank_order.png', class: 'img-fluid', size: "800x500" %>
  
  <div class="pt-2 px-5 mb-5 text-right">
    <a href="/" class="btnripple"><%= image_tag 'add_capcake.png', class: 'img-fluid', size: "50x40" %></a>
      
</h3>
