   <div class="row mt-4 mb-4">
    <div class="col">
      <h4 class="d-inline bg-gray pr-4 pl-4">注文情報確認</h4>
    </div>
  </div>


  <div class="row">

    <div class="col-6">

      <div class="mb-2">注文情報</div>

      <table class="table table-inverse table-bordered">

        <tr class="">
          <td class="text-center", style="width: 25%">注文日</td>
          <td style="width: 75%"></td>
        </tr>

        <tr class="">
            <td class="text-center", style="width: 25%">配送先</td>
          <td style="width: 75%"></td>
        </tr>

        <tr class="">
            <td class="text-center", style="width: 25%">支払方法</td>
          <td style="width: 75%"></td>
        </tr>

        <tr class="">
          <td class="text-center", style="width: 25%">ステータス</td>
          <td style="width: 75%"></td>
        </tr>

      </table>

    </div>

    <div class="col-3">

      <div class="mb-2">請求情報</div>

      <table class="table table-sm table-bordered align-self-end">

        <tr class="">
           <td class="text-center", style="width: 30%">商品合計</td>
          <td style="width: 70%"></td>
        </tr>
        <tr class="">
          <td class="text-center", style="width: 70%">配送料</td>
          <td style="width: 30%"></td>
        </tr>
        <tr class="">
          <td class="text-center font-weight-bold", style="width: 70%">ご請求額</td>
          <td style="width: 30%"></td>
        </tr>

      </table>

    </div>
  </div>

  <div class="row pt-3">
    <div class="col-10">

      <div class="mb-2">注文内容</div>

      <table class="table table-inverse table-bordered">

        <tr class="bg-light">
          <th class="text-center", style="width: 50%">商品</th>
          <th class="text-center", style="width: 20%">単価（税別）</th>
          <th class="text-center", style="width: 15%">個数</th>
          <th class="text-center", style="width: 15%">小計</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

       </table>
      </div>
    </div>
