<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col offset-1">
        <h5 class="page-title">NaganoCake <%= image_tag 'megane-img.png', class: 'header_icon', size: "30x30" %></h5>
        <%= link_to '', root_path, class: 'fab fa-instagram-square fa-1x pr-1 header_icon' %>
        <%= link_to '', root_path, class: 'fab fa-facebook-square fa-1x pr-1 header_icon' %>
        <%= link_to '', root_path, class: 'fab fa-twitter-square fa-1x pr-1 header_icon' %>
        <p><small>&copy; 2021.04 Meganekko</small></p>
      </div>
    </div>
  </div>
</footer>