<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h5>NaganoCake <%= image_tag 'megane-img.png', size: "30x30" %></h5>
        <%= link_to '', root_path, class: 'fab fa-instagram-square fa-1x pr-1' %>
        <%= link_to '', root_path, class: 'fab fa-facebook-square fa-1x pr-1' %>
        <%= link_to '', root_path, class: 'fab fa-twitter-square fa-1x pr-1' %>
        <p><small>&copy; 2021.04 Meganekko</small></p>
      </div>
    </div>
  </div>
</footer>