<footer>
  <div class="container-fluid bg-gray">
    <div class="row justify-content-end">
      <div class="col-sm-2">
        <h5>NaganoCake</h5>
        <hr>
        <%= link_to ' ', root_path, class: 'fab fa-instagram-square fa-2x pr-1' %>
        <%= link_to ' ', root_path, class: 'fab fa-facebook-square fa-2x pr-1' %>
        <%= link_to ' ', root_path, class: 'fab fa-twitter-square fa-2x pr-1' %>
        <hr>
        <p><small>&copy; 2021.04 Meganekko</small></p>
      </div>
    </div>
  </div>
</footer>